@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #f1f5f9;
  --background: #030712;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}
